<!-- Add New modal -->
<div class="modal fade add-new" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new RFI?</h4>
      </div>
      <div class="modal-body">
        <%= form_tag rfis_path, method: :post, id: 'new_rfi_form' do %>
          <%= text_field_tag(:rfi_title, '', {:autocomplete => :off, :placeholder => "Project Name", :class=>"form-control input-lg"}) %>
      </div>
      <div class="modal-footer">
        <%= submit_tag "Create Blank RFI", class: "btn btn-primary" %>
        <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>