<%= render 'layouts/rfis/questions' %>
<%= link_to question_path(id: @current_question.id), class: "list-group-item" do%>
  View
<% end %>

<div class="panel panel-primary question-panel">
    <div class="panel-heading">
        <div class="category_title">
            New question for <%= @current_category.text %>
        </div>
        <div style="clear: both; content: ""; display: table;"></div>
    </div>
    <form role="form">
        <div class="panel-body">
            <input type="text" class="form-control question-form" rows="2" placeholder="Ask a question">
        </div>
        
        <div class="panel-footer"> 
            <div class="footer-options">
              
              <div class="impact btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="radio" name="low" id="low" autocomplete="off">Low</label>

                <label class="btn btn-primary">
                  <input type="radio" name="medium" id="medium" autocomplete="off"> Medium</label>

                <label class="btn btn-primary">
                  <input type="radio" name="high" id="high" autocomplete="off">High</label>
              </div>  

              <button type="submit" class="btn btn-primary add-question">Add Question</button>
            </div>
            

        </div>
    </form>
</div>