<%= javascript_include_tag 'dashboard' %>  
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav nav-pills nav-stacked" role="tablist">
                <%= render partial: "sidebar_menu", object: [@rfis, @current_rfi, @shared_rfis] %> 
            </ul>
        </div>


        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper" class="dashboard">
            <div class="menu-wrapper">
                <div class="menu">
                    <div class="menu-option-wrapper">
                        <%= render partial: "menu_options", object: @current_rfi %> 
                    </div>
                    
                </div>
                <div class="offset">
                    
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="content">
                            <%= render partial: "content", object: @current_rfi %>
                            
                        </div>
                         
                    </div>
                </div>
                <div class="news-feed">
                       
                </div>
                <div style="clear:both"></div>
            </div>
            
            

        </div>
        
    </div>
</body>
