
<%= link_to make_category_form_path(category: @active_category.id), remote: true do %>
<% end %>

<h3><%= @active_category.text %></h3>

<!-- <%= link_to delete_category_path(category_id: @active_category.id), remote: true, class: "btn btn-danger" do %>
	Delete Category
<% end %>  -->

