<div class="panel panel-danger question-panel">
    <div class="panel-heading">
        <div class="category_title">
            <%= render partial: "category_title", object: @active_category %> 
        </div>
        <div style="clear: both; content: ""; display: table;"></div>
    </div>
    <form role="form">
        <div class="panel-body">
            <input type="text" class="form-control question-form" rows="2" placeholder="Ask a question">
        </div>
        
        <div class="panel-footer"> 
            <div class="content">
              <div class="impact btn-group" data-toggle="buttons">
              <label class="btn btn-danger active">
                <input type="radio" name="low" id="low" autocomplete="off">Low</label>

              <label class="btn btn-danger">
                <input type="radio" name="medium" id="medium" autocomplete="off"> Medium</label>

              <label class="btn btn-danger">
                <input type="radio" name="high" id="high" autocomplete="off">High</label>
              </div>  

              <button type="submit" class="btn btn-danger btn-lg add-question">Add Question</button>
            </div>
            

        </div>
    </form>
</div>
 
<% if @active_category == nil %>
    <script>
        jQuery(document).ready(function($) {
            $(".question-panel").hide() 
        });
    </script>
<% end %>