

<ul class="list-group">
  <% @active_category.questions.each do |q| %>
    <li class="list-group-item">
		<span class="left-info">
      		<%= q.text.html_safe %> 
      	</span>	
		<span class="right-info">
		  <span class = "impact impact-<%= q.impact %>">
		  	<%= q.impact %>
		  </span>
		  <%= link_to creations_delete_question_path(question_id: q.id, category_id: @active_category.id), remote: true do %>
		  	x
		  <% end %>
		</span>
    </li>
  <% end %>
</ul>






