<div class="panel panel-danger question-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <form role="form">
        <div class="panel-body">
            <input type="text" class="form-control question-form" rows="2" placeholder="Ask a question">
        </div>
        
        <div class="panel-footer">     
            <button type="submit" class="btn btn-primary btn-lg add-question">Add Question</button>
        </div>
    </form>
</div>
 
<% if @active_category == nil %>
    <script>
        jQuery(document).ready(function($) {
            $(".question-panel").hide() 
        });
    </script>
<% end %>