<%= javascript_include_tag 'creations' %>  

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <div class="categories">
                    <%= render partial: "categories", object: [@categories, @active_category] %>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">

                        <div class="questions">
                            <%= render partial: "questions", object: @active_category %>
                        </div>

                        <div class="panel panel-danger question-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Panel title</h3>
                            </div>
                            <div class="panel-body">
                                <textarea class="question-form form-control" rows="2" placeholder="Ask a question"></textarea>
                            </div>

                            <div class="panel-footer">     
                                <button class="btn btn-primary btn-lg add-question" id="<%= @active_category.id %>">Add Question</button>
                            </div>  
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>
