<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav ">
                <li class="sidebar-brand">
                    <a href="#">
                        Start Bootstrap
                    </a>
                </li>
                <% @categories.each do |c| %>
                    <li>
                        <%= link_to c.text, update_category_path(category: c.id), remote: true %>
                    </li>
                <% end %>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-11">
                        <div class="questions">
                            <%= render partial: "current_questions", object: @active_category %>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Add A New Question:</div>
                            <div class="panel-body">
                                <textarea class="some-textarea form-control" id="<%= @active_category.id %>" placeholder="Enter text ..."></textarea>
                            </div>
                        </div>
                        <%= button_to "Add Question", check_question_path(category: @active_category), remote: true, :class => 'btn btn-primary btn-lg' %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
</body>
<script type="text/javascript">
$.fn.wysihtml5.defaultOptions['toolbar']['image']
console.log($.fn.wysihtml5.defaultOptions)
$('.some-textarea').wysihtml5();
</script>
