<h2><%= @active_question.text %></h2>
<% @current_submissions.each do |submission| %>
  <div class="submission-body">
    <%= text_field_tag submission.id, submission.score, class: 'response-rating' %>
    <div class="submission-panel">
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= submission.collaborator.user.email %>
        </div>
        <div class="panel-content">
          <div class="panel-body">
            <%= submission.text.html_safe %>  
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

