<% @current_submissions.each do |submission| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= submission.collaborator.user.email %>
    </div>
    <div class="panel-content">
      <%= submission.text %>
    </div>
  </div>
<% end %>