<% @current_submissions.each do |submission| %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <%= submission.collaborator.user.email %>
    </div>
    <div class="panel-content">
    	<div class="panel-body">
      		<%= submission.text %>
    	</div>
    </div>
  </div>
<% end %>