<%= link_to create_rfi_path, method: :post do%>
    <div class="menu-option">
        <div class="content">
            <img src="assets/add_rfi.png" class="menu-button" alt="">
            <p>Create New</p>        
        </div>
    </div>
<% end %>


<%= link_to create_rfi_path, method: :post do %>
    <div class="menu-option">
        <div class="content">   
            <img src="assets/inbox.png" class="menu-button" alt="">
            <p>Message Inbox</p>
        </div>
    </div>
<% end %>



<%= link_to destroy_user_session_path, method: :delete do %>
    <div class="menu-option">
        <div class="content">   
            <img src="assets/logout.png" class="menu-button" alt="">
            <p>Logout</p>
        </div>
    </div>
<% end %>



