<% @questions.each do |q| %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <%= link_to edit_content_path, class: "fill-div", remote: true do %>
          <%= q.text %>
        <% end %>
      </div>
      <!-- <div class="panel-body"></div>  -->
      <!-- <% if @responses.find_by_question_id(q.id) == nil %>
        <textarea class="some-textarea form-control" placeholder="Enter text ..."></textarea>
      <% else %>
        <textarea class="some-textarea form-control" placeholder="Enter text ..."><%= @responses.find_by_question_id(q.id).text%></textarea>
      <% end %> -->
        
      <!-- </div> -->
    </div>
<% end %>


<script type="text/javascript">
    $.fn.wysihtml5.defaultOptions['toolbar']['image']
    console.log($.fn.wysihtml5.defaultOptions)
    $('.some-textarea').wysihtml5();
</script>