<% @questions.each do |question| %>
    <% @current_response = @responses.find_by_question_id(question.id) %>
    <% @current_question = question %>
    <div class="panel panel-info panel-danger">
      <div class="panel-heading">
        <%= link_to edit_content_path(question_id: question.id), class: "fill-div", remote: true do %>
          <%= question.text %>
        <% end %>
      </div>


      <div class="panel-content">
        <%= render partial: "panel_content", object: [@is_active, @current_response, @current_question] %>
      </div>
      
      
    </div>
<% end %>



<script type="text/javascript">
    $.fn.wysihtml5.defaultOptions['toolbar']['image']
    console.log($.fn.wysihtml5.defaultOptions)
    $('.response-textarea').wysihtml5();
</script>