<div class="panel panel-danger submit-panel">

    <div class="panel-footer">
    	<div class="content">
	    	<p id="last_updated"><%= @last_updated %></p>
	    	<%= link_to "Submit", {action: "submit"}, {class: 'btn btn-primary btn-lg submit-response', remote: true, method: :post} %>

    	</div>     
    </div>
    
</div>
 
