<div class="panel panel-danger submit-panel">
    
    
        <div class="panel-footer">     
            <button type="submit" class="btn btn-primary btn-lg submit-response">Submit</button>
        </div>
    
</div>
 
