@import 'colors';

@font-face {
    font-family: ProximaNova;
    src: url("ProximaNova-Regular.otf") format("opentype");
}

@font-face {
    font-family: ProximaNova;
    font-weight: bold;
    src: url("ProximaNova-Bold") format("opentype");
}


body{
	padding: 0;
	margin: 0;	
	min-width: 1280px;
	padding-top: 50px;
	min-height: 720px;
	background-color: $background !important;
	font-family: ProximaNova, Helvetica, Arial, sans-serif !important;	
	


}


#homepage{
	background-image: url('/assets/bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

#wrapper {

    padding-left: $sidebar_size;
    height: calc(100% - 51px);
    width: 100%;
}

