$red: #E42900;
$light_red: #FC6041;
$active_color: #252525;
$dark_green: #27ae60;
$light_green: #2ecc71;


$white: #EEEEEE;
$primary: #2C3E50;
$secondary: #95A5A6;
$minor: #E4F1FE;
$major: #F3F2F5;
$hover: #C5EFF7;
$dark_border: #95A5A6;
$light_border: #D2D7D3;
$dark: #2C3E50;
$header: #3498DB;
$refresh: #446CB3;
$background: #ecf0f1;


$sidebar_size: 600px;
// ========================================================== //


$b_primary: #2C3E50;
$b_secondary: #95A5A6;
$b_minor: #E08283;
$b_major: #F3F2F5;
$b_hover: #C5EFF7;
$b_dark_border: #95A5A6;
$b_light_border: #D2D7D3;
$b_dark: #96281B;
$b_header: #EF4836;
$b_refresh: #CF000F;
$b_background: #ecf0f1;