
div.category_title a:link, div.category_title a:visited, div.category_title a:hover, div.category_title a:active { 
    text-decoration:none !important; 
}
div.category_title a{
	color: #81261D;
}

#page-content-wrapper .question-panel{
	position: fixed;
	left: 0;
	bottom: 0;
	margin-left: 250px;
	margin-bottom: 0px; 
	width: 100%;	

}

div.categories .nav li a{
	line-height: 25px;
	text-indent: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
div.questions h3{
	display: inline
}

div.questions p{
	display: inline
}
