div.category_title {

}
div.category_title a:link,
div.category_title a:visited,
div.category_title a:hover,
div.category_title a:active {
	text-decoration: none !important;
}
div.category_title a {
	color: #81261D;
}
div.creations .category_title h3 {
	margin: 0;
	float: left;
}
div.creations .category_title .btn {
	color: white;
	
	float: right;
}
div.creations .question-panel {
	position: fixed;
	bottom: 0;
	margin-bottom: 0px;
	width: calc(100% - 600px);
}
div.categories .nav li a {
	line-height: 25px;
	text-indent: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
div.questions h3 {
	display: inline
}
div.questions p {
	display: inline;
}
.question-panel .panel-footer .impact {
	float: left;
}
.question-panel .panel-footer .add-question {
	float: right;
}
.question-panel .panel-footer {
	overflow: hidden;
}
div.creations .add-category {
	margin: 0px;
	margin-left: 10px;
	padding: 0;
}
div.creations .categories h2 {
	color: #999999;
}
div.creations .categories h2:hover {
	color: #FFFFFF;
}
div.creations a:hover {
	text-decoration: none;
}
div.creations .questions {
	padding-bottom: 170px;
}
div.creations .questions .list-group {
	margin: 0;
}
div.creations .questions .list-group-item {
}
div.creations .questions .list-group-item::after {
	clear: both;
	content: "";
	display: table;
}
div.creations .questions .right-info {
	float: right;
	/* width: 10%;
	*/
}
div.creations .questions .left-info {
	float: left;
	width: 90%;
	word-wrap: break-word;
}
div.creations .questions .impact {
	margin-right: 15px;
}
.impact-Medium {
	color: #428bca;
}
.impact-High {
	color: #d43f3a;
}
.impact-Low {
	color: #f0ad4e;
}