#create_form {
  padding-top: 100px;
}

#add_question {
  margin-top: 100px;
}

li {
  margin: 20px;
  background-color: white;
}

input {
  width: 90%;
  display: inline-block;
}

label {
  width: 10%;
  display: inline-block;
}

div {
  width: 100%;
  padding: 20px;
}