@import 'colors';

div.rfi-title a:link, div.category_title a:visited, div.category_title a:hover, div.category_title a:active { 
    text-decoration: none; 
}

div.rfi-list .nav li{
	// background-color: $active_color;
	margin: 0;

}
div.rfi-list .nav li a{
	line-height: 25px;
	text-indent: 50px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
div.rfi-list .nav li.active a{
	color: white;
}

.rfi-list .nav > li.active > a, .rfi-list .nav > li.active > a:hover, .rfi-list .nav > li.active > a:focus{
    background-color: transparent;    
} 

div.shared-rfi-list .nav li a{
	line-height: 25px;
	text-indent: 50px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

div.dashboard .menu-wrapper{
	height: 250px;
	width: 100%;

}
div.dashboard .menu-wrapper .menu{
	width: 70%;
	height: 100%;
	float: left;
	background-color: $red;
	position: relative;
}

div.dashboard .menu-wrapper .offset{
	width: 30%;
	height: 100%;
	float: left;
	background-color: $light_red;
	
}

div.dashboard .menu-wrapper .menu .menu-option-wrapper{
	height: 100px;
	bottom: 0;
	width: 100%;
	position: absolute;
}
div.dashboard .menu-wrapper .menu .menu-option img{
	width: 60px;
	height: 60px;
	margin-bottom: 3px;
  	
}
div.dashboard .menu-wrapper .menu .menu-option .content{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

div.dashboard .menu-wrapper .menu .menu-option-wrapper .menu-option{
	height: 100%;
	width: 120px;
	float: left;
	margin-right: 1px;
	background-color: $light_red;
	color: white;
	text-align: center;
}

div.dashboard .menu-wrapper .menu .menu-option-wrapper .menu-option:hover{
	
}
div.dashboard .container-fluid{
	width: 70%;
	float: left;
}
div.dashboard div.news-feed{

	min-height: calc(100% - 250px);
	float: right;
	background-color: lightgray;
	width: 30%;
	position: relative;
	// position: absolute;

}