// Place all the styles related to the evaluation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions-nav li a{
	line-height: 25px;
	padding-left: 50px !important;
	font-size: 12px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	
}

div.evaluation .submission-body{
	
}
div.evaluation .response-rating{
	width: 5%;
	float: left;
	height: 50px;
	font-size:25px;
	text-align: center;	
}

div.evaluation .submission-panel{
	width: 95%;
	float: left;	

}