@import 'colors';
div.rfi-title a:link, div.category_title a:visited, div.category_title a:hover, div.category_title a:active {
    text-decoration: none;
}
div.rfi-list .nav li {
    margin: 0;
}
div.rfi-list .nav li a {
    line-height: 25px;
    text-indent: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
div.rfi-list .nav li.active a {
    color: white;
}
.rfi-list .nav > li.active > a, .rfi-list .nav > li.active > a:hover, .rfi-list .nav > li.active > a:focus {
    background-color: transparent !important;
}
div.shared-rfi-list .nav li a {
    line-height: 25px;
    text-indent: 50px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
div.main-template .menu-wrapper {
    height: 250px;
    z-index: 99;
    width: calc(100% - 250px);
    min-width: calc(1280px - 250px);
    position: fixed;
}
div.main-template .menu-wrapper .menu {
    width: calc(100% - 350px);
    height: 100%;
    float: left;
    background-color: $red;
    position: relative;
}
div.main-template .menu-wrapper .offset {
    width: 350px;
    height: 100%;
    float: left;
    background-color: $light_red;
}
div.main-template .menu-wrapper .menu .menu-option-wrapper {
    height: 100px;
    bottom: 0;
    width: 100%;
    position: absolute;
}
div.main-template .menu-wrapper .menu .menu-option img {
    width: 60px;
    height: 60px;
    margin-bottom: 3px;
}
div.main-template .menu-wrapper .menu .menu-option .content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
div.main-template .menu-wrapper .menu .menu-option-wrapper .menu-option {
    height: 100%;
    width: 120px;
    float: left;
    margin-right: 1px;
    background-color: $light_red;
    color: white;
    text-align: center;
}
div.main-template .menu-wrapper .menu .menu-option-wrapper .menu-option:hover {
}
div.main-template .content-wrapper{
    padding: 250px 0px 0px 0px; 

}
div.main-template .content-wrapper::after {
    clear: both;
    content: "";
    display: table;
}
div.main-template .content-wrapper .content {
    
    min-height: calc(100vh - 301px);
    width: calc(100% - 350px);
    float: left;
    margin: auto;
    // overflow: auto;
    // padding: 0px 15px
}

div.main-template .menu-wrapper .welcome{
    color: white;
    font-size: 45px;
    padding-left: 15px;
    font-weight: 100;
    letter-spacing: 2px;
    
}


