@import 'colors';

#menu{
	ul{
		list-style-type: none;
		padding: 0;
	}

	ul li{
		padding-top:20px;
		text-align: center;
	}
	ul li a{
		color: $secondary;
		text-decoration: none;
		-o-transition:.7s;
		-ms-transition:.7s;
		-moz-transition:.7s;
		-webkit-transition:.7s;
		/* ...and now for the proper property */
		transition:.7s;
	}

	ul li a:hover{
		color: white;
		text-decoration: none;
	}
	.active{
		color: white;
	}
	span{
		padding-bottom:10px;
		display: block;
		font-size: 2em;
	}
}