.news-feed .news{	
	overflow: auto;
	background-color: black;
}
.news-feed {
	
	position: fixed;
	right: 0;
	width: 350px;
	
	background-color: lightgray;
	overflow:auto;
	height: calc(100% - 301px);
}

