// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// 
#sidebar #questions .list-group{
	height: calc(100% - 45px);	
	overflow: auto;
}


#question-content .col-sm-12 .submissions .panel-body{
	height: 100px;
	overflow: hidden;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 95%);
}

#question-content .col-sm-4 .submissions .panel-body{
	height: 75px;
	overflow: hidden;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 95%);
}
#question-content .col-sm-8 .submissions .panel-body{
	min-height: 200px;
	
}

#questions .add{
	position: relative;
	display: block;
	padding: 10px 15px;

	border-bottom: 1px solid #dddddd;
}