@import 'colors';


#wrapper {
    padding-left: $sidebar_size;
    height: calc(100% - 51px);
    width: 100%;
}


/* =================== categories ===================== */
#sidebar #categories .list-group{

    margin: 0;
    border-radius: 0;

}

#sidebar #categories .list-group .list-group-item{
    background-color: transparent;
    color: $secondary;
    border-radius: 0;
    border-right: 0;
    border-left: 0;

    font-size: 14px;
    
    border-color: $light_border;

}

#sidebar #categories .list-group a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: $primary;
    background-color: $hover;
}

#sidebar #categories .list-group a.active{
    background-color: $hover;
    color: $primary;
    border-color: $light_border;
}
/* =================== questions ===================== */
#sidebar #questions{
    // background-color: $background !important;
}
#sidebar #questions .list-group{

    margin: 0;
    border-radius: 0;
}

#sidebar #questions .list-group .list-group-item{
    
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    color: $secondary;
    font-size: 14px;
    background-color: white;
    border-color: $light_border;
}

#sidebar #questions .list-group .list-group-item:first-child{
    border-top: 0;
}

#sidebar #questions .list-group a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: $primary;
    background-color: $minor;
}

#sidebar #questions .list-group a.active{
    background-color: $hover;
    color: $primary;
    border-color: $light_border;
}

/* =================== menu ===================== */
#sidebar #menu{
    height: 100%;
    width: 16%;
    float: left;
    background: $dark;
}
#sidebar #categories{
    width: 34%;
    height: 100%;
    float: left;
    border-right: 1px solid $light_border;
    overflow: auto;
    background: $minor;
}
#sidebar #categories #profile{
    height: 120px;
    width: 100%;
    background-color: white;
    
}
#sidebar #questions{
    overflow: auto;
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid $light_border;
    background-color: white;
}
#sidebar{
    position: fixed;
    width: $sidebar_size;
    left: 0; 
    height: calc(100% - 51px);
    background: $minor;
    
    z-index: 99;
}

//===================================================================================================================//


