@import 'colors'; 

#wrapper {

    padding-left: $sidebar_size;

    width: 100%;
}


/* =================== categories ===================== */
#sidebar #categories .list-group{

    margin: 0;
    border-radius: 0;

}

#sidebar #categories .list-group .list-group-item{
    background-color: transparent;
    color: $secondary;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    font-size: 14px;
    border-color: $light_border;

}

#sidebar #categories .list-group .list-group-item .badge{
    background-color: transparent;
    border: 1px $secondary solid;
    color: $secondary;
}
#sidebar #categories .list-group .active .badge{
    background-color: $secondary;
    border: 1px $secondary solid;
    color: white;
}

#sidebar #categories .list-group a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: $primary;
    background-color: $hover;
}

#sidebar #categories .list-group a.active{
    background-color: $hover;
    color: $primary;
    border-color: $light_border;
}
#sidebar #categories{
    width: 34%;
    height: 100%;
    float: left;
    border-right: 1px solid $light_border;
    overflow: auto;
    background: $minor;
}
#sidebar #categories #profile{
    height: 120px;
    width: 100%;
    background-color: white;
    
}

/* =================== questions ===================== */
#sidebar #questions{
    
    width: 50%;
    height: 100%;
    float: left;
    border-right: 1px solid $light_border;
    background-color: white;
}
#sidebar #questions .list-group{

    margin: 0;
    border-radius: 0;
}

#sidebar #questions .list-group .list-group-item{
    min-height: 50px;
    border-radius: 0;
    border-right: 0;
    border-left: 0;
    color: $primary;
    font-size: 13.5px;
    background-color: white;
    border-color: $light_border;
}

#sidebar #questions .list-group .list-group-item:first-child{
    border-top: 0;
}

#sidebar #questions .list-group a.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    color: $primary;
    background-color: $minor;
}

#sidebar #questions .list-group a.active{
    background-color: $minor;
    color: $primary;
    border-color: $light_border;
}

#sidebar #questions .list-group .text{
    
}

#sidebar #questions .list-group .status{
    text-align: right;
    font-size: 12px;
    color: red;


}
#sidebar #questions p{
    margin-bottom: 3px;
}


/* =================== menu ===================== */
#sidebar #menu{
    height: 100%;
    width: 16%;
    float: left;
    background: $dark;
}

#sidebar{
    position: absolute;
    width: $sidebar_size;
    left: 0; 
    height: calc(100% - 51px);
    background: $minor;
    
    z-index: 99;
}

/* =================== widgets ===================== */
.High{
    border-left: 3px $high solid !important;
}
.Medium{
    border-left: 3px $medium solid !important;
}
.Low{
    border-left: 3px $low solid !important;
}

.widget{

    display: inline-block;

    min-width: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 15%;
    
    padding-left: 2px;
    padding-right: 2px;
    color: white;
    margin-right: 1px;
    
}

.impact-High {
    background-color: $high;
}
.impact-Medium {
    background-color: $medium;
}
.impact-Low {
    background-color: $low;
}

.uncompleted-response{
    display: inline-block;
    height: 100%;
    min-width: 18px;
    margin-right:-2px;
    padding-left: 5px;
    padding-right: 5px;
    background: #de4040;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    
}
.completed-response{
    display: inline-block;
    height: 100%;
    min-width: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background: #67b75a;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
