
<ul class="nav nav-pills nav-stacked" role="tablist">
	<% @shared_rfis.each do |rfi| %>
		<li role="presentation">
			<%= link_to rfi.title, load_rfi_response_path(rfi_id: rfi.id) %>
		</li>
	<% end %>
</ul>
