<!DOCTYPE html>
<html>
	<head>
		<title>BridgeIT</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		
	</head>
	<body>

		<%= render 'layouts/header' %>
		<div id="main-template">
			<div class="row">
  				<div class="col-md-2 sidebar">.col-md-4</div>
				<div class="col-md-7 content">.col-md-8</div>
				<div class="col-md-3 rightbar">.col-md-8</div>
			</div>
			<!-- Sidebar -->
			
			
		</div>

	</body>
</html>