<p><b>Deleted RFI Question</b></p>

<p><%= activity.owner.name %> deleted a question in
  <%= link_to activity.parameters[:rfi].title, evaluation_path(id: activity.parameters[:rfi].id) %></p>
<p><%= time_ago_in_words(activity.created_at) %> ago</p>