<p><b>Deleted RFI Question</b></p>
<p><%= activity.owner.name %> deleted a question in
  <%= link_to activity.parameters[:rfi].title, load_rfi_evaluation_path(rfi_id: activity.parameters[:rfi].id) %></p>
<p><%= time_ago_in_words(activity.created_at) %> ago</p>